In [8]:
import pandas as pd

Ex 1.1

In [9]:
df1 = pd.read_csv("Chap001/CYCLT.csv")
df1

    CYCLT
0   1.008
1   1.098
2   1.120
3   0.423
4   1.021
5   1.069
6   0.271
7   0.431
8   1.095
9   1.088
10  1.117
11  1.080
12  0.206
13  0.330
14  0.314
15  1.132
16  0.586
17  1.118
18  0.319
19  0.664
20  1.141
21  0.662
22  0.531
23  0.280
24  0.489
25  1.080
26  0.628
27  0.302
28  0.179
29  1.056
30  0.449
31  1.057
32  0.437
33  0.175
34  0.482
35  0.275
36  1.084
37  0.287
38  1.068
39  1.069
40  0.215
41  1.107
42  0.348
43  0.213
44  0.200
45  0.187
46  0.339
47  0.224
48  1.009
49  0.560

In [62]:
list1 = df1['CYCLT'].tolist()
list1

[1.008,
 1.098,
 1.12,
 0.423,
 1.021,
 1.069,
 0.271,
 0.431,
 1.095,
 1.088,
 1.117,
 1.08,
 0.206,
 0.33,
 0.314,
 1.132,
 0.586,
 1.118,
 0.319,
 0.664,
 1.141,
 0.662,
 0.531,
 0.28,
 0.489,
 1.08,
 0.628,
 0.302,
 0.179,
 1.056,
 0.449,
 1.057,
 0.437,
 0.175,
 0.482,
 0.275,
 1.084,
 0.287,
 1.068,
 1.069,
 0.215,
 1.107,
 0.348,
 0.213,
 0.2,
 0.187,
 0.339,
 0.224,
 1.009,
 0.56]

In [99]:
import pandas as pd
from itertools import zip_longest

def grouper(iterable, n, fillvalue=None):
    "Collect data into fixed-length chunks or blocks"
    # grouper('ABCDEFG', 3, 'x') --> ABC DEF Gxx"
    args = [iter(iterable)] * n
    return zip_longest(*args, fillvalue=fillvalue)

#cyclt = df1["CYCLT"]
cyclt = list1
for chunk in grouper(cyclt, 5):
    #print(chunk)
    print(' '.join([f'{v:.3f}' for v in chunk]))

1.008 1.098 1.120 0.423 1.021
1.069 0.271 0.431 1.095 1.088
1.117 1.080 0.206 0.330 0.314
1.132 0.586 1.118 0.319 0.664
1.141 0.662 0.531 0.280 0.489
1.080 0.628 0.302 0.179 1.056
0.449 1.057 0.437 0.175 0.482
0.275 1.084 0.287 1.068 1.069
0.215 1.107 0.348 0.213 0.200
0.187 0.339 0.224 1.009 0.560

In [87]:
from itertools import zip_longest
list2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
args = [iter(list2)] * 4
print(args)
zipped = zip_longest(*args, fillvalue=None)
for j in zipped:
    print(j)

[<list_iterator object at 0x0000023A700EBCD0>, <list_iterator object at 0x0000023A700EBCD0>, <list_iterator object at 0x0000023A700EBCD0>, <list_iterator object at 0x0000023A700EBCD0>]
('a', 'b', 'c', 'd')
('e', 'f', 'g', 'h')
('i', 'j', None, None)

In [97]:
list2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
args = [iter(list2)] * 4
*list2

SyntaxError: can't use starred expression here (1161759050.py, line 3)

In [98]:
args = [iter(list1),iter(list1),iter(list1),iter(list1)]
args[0]

In [95]:
list2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
args = [iter(list2)] * 4
print(args)
for i in args[0]:
    print(i)

[<list_iterator object at 0x0000023A7005F3D0>, <list_iterator object at 0x0000023A7005F3D0>, <list_iterator object at 0x0000023A7005F3D0>, <list_iterator object at 0x0000023A7005F3D0>]
a
b
c
d
e
f
g
h
i
j

In [94]:
list2 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
args = [iter(list2)] * 4
for i in args[1]:
    print(i)

a
b
c
d
e
f
g
h
i
j

In [60]:
args = [iter(cyclt)] * 5
for i in args:
    strng = ""
    for j in i:
        strng = strng + " " + str(j) 
        print(strng)
    strng = strng + "j"

 1.008
 1.008 1.098
 1.008 1.098 1.12
 1.008 1.098 1.12 0.423
 1.008 1.098 1.12 0.423 1.021
 1.008 1.098 1.12 0.423 1.021 1.069
 1.008 1.098 1.12 0.423 1.021 1.069 0.271
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348 0.213
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348 0.213 0.2
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348 0.213 0.2 0.187
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348 0.213 0.2 0.187 0.339
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348 0.213 0.2 0.187 0.339 0.224
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348 0.213 0.2 0.187 0.339 0.224 1.009
 1.008 1.098 1.12 0.423 1.021 1.069 0.271 0.431 1.095 1.088 1.117 1.08 0.206 0.33 0.314 1.132 0.586 1.118 0.319 0.664 1.141 0.662 0.531 0.28 0.489 1.08 0.628 0.302 0.179 1.056 0.449 1.057 0.437 0.175 0.482 0.275 1.084 0.287 1.068 1.069 0.215 1.107 0.348 0.213 0.2 0.187 0.339 0.224 1.009 0.56

In [66]:
args = [iter(cyclt)] * 5
zipped = zip_longest(*args, fillvalue=None)
for item in zipped:
    print(item)

(1.008, 1.098, 1.12, 0.423, 1.021)
(1.069, 0.271, 0.431, 1.095, 1.088)
(1.117, 1.08, 0.206, 0.33, 0.314)
(1.132, 0.586, 1.118, 0.319, 0.664)
(1.141, 0.662, 0.531, 0.28, 0.489)
(1.08, 0.628, 0.302, 0.179, 1.056)
(0.449, 1.057, 0.437, 0.175, 0.482)
(0.275, 1.084, 0.287, 1.068, 1.069)
(0.215, 1.107, 0.348, 0.213, 0.2)
(0.187, 0.339, 0.224, 1.009, 0.56)

In [83]:
from itertools import zip_longest

iterable1 = [1, 2, 3]
iterable2 = ['A', 'B']
zipped = zip_longest(iterable1, iterable2, fillvalue=None)

for item in zipped:
    print(item)

(1, 'A')
(2, 'B')
(3, None)

In [38]:
list = [1, 2, 3]
list * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

Ex 1.2

In [17]:
import random

random_list = random.choices([0, 1], k=50)

print(random_list)

[0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0]